<h1 class="mt-4">Dashboard</h1>
<h4 class="lead mb-3">Welcome <%= user.name %>, have a nice day!</h4><br>

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <img src="https://smallbiztrends.com/wp-content/uploads/2019/06/conquer-today-first-motivational-productivity-quote.png" class="d-block w-100 " style = height:400px; >
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="https://3.bp.blogspot.com/-FPfkLQOtDd4/WWOP4ppOMMI/AAAAAAAABYE/UQhU0fSYcsc86IKis7u5YPVycY3Dv0tdwCLcBGAs/s1600/Kumpulan%2BQuots%2BIslami%2BTentang%2BKesabaran%2BDalam%2BMenjalani%2BHidup.jpg" class="d-block w-100" style = height:400px; >
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="https://i.ytimg.com/vi/q9OuZ3kLh_c/maxresdefault.jpg" class="d-block w-100"  style = height:400px;>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <br>

<a href="/posting/createPost" class="btn btn-outline-info mr-2 text-center" style=" width: 200px; height:50px; display: inline-block; ">Create Post</a>
<a href="/users/logout" class="btn btn-outline-info" style=" width: 200px; height:50px; display: inline-block; ">Logout</a>
