<h1 class="mt-4">UPDATE POST</h1>
<p class="lead mb-3">make your update</p>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form action="/posting/createPost" method="POST">
            <div class="form-group">
                <label for="postTitle">Title</label>
                <input type="text" class="form-control" id="postTitle" placeholder="Post Title" name="postTitle">
                <label for="postContent">Title</label>
                <input type="text" class="form-control" id="postContent" placeholder="Post Content" name="postContent">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
<h2> your post</h2>
<h2><%= postId %></h2>
<div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <ul class="list-group" id="display">
            
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div> 

<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
></script>

<script>
    const display = $("#display");
    function getThisPost(){
        fetch(`/posting/getThisPost/${postId}`,{method : "get"}).then((response)=>{
            return response.json();
        }).then((data)=>{
            console.log(data);
            displayPosts(data);
        });
    }
    getThisPost();

    const buildTemplate = (post,id)=>{
                return `<li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4" id="${id}">${post.title}</div>
                                <div class="col-md-4" id="${id}">${post.content}</div>
                            </div>
                       </li>`;
            }

    function displayPosts(data){
        data.forEach((post)=>{
            display.append(buildTemplate(post,post._id));
        })
    }
</script>