<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img src="https://i.pinimg.com/originals/ec/87/96/ec879674e0533d0014ef948859bc1ca6.jpg" alt="" 
      style=
      " display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;  
      text-align: center">
      <h5>We are here for you</h5><br>
      <a href="/users/register" class="btn btn-info mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-outline-info">Login</a>
    </div>
  </div>
</div>
